{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #faf7f6;
  color: #333;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 5%; 
  align-items: center;
}

header h1 {
  font-weight: 500;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #555;
  font-size: 20px;              
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #000;
  transform: scale(1.1);
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #000;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  text-align: center;
  padding: 120px 20px;
  background-image: url('hero-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}

.hero h2,
.hero p {
  position: relative;
  z-index: 1;
  font-weight: 400;
}

#typing {
  border-right: 2px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

section {
  padding: 80px 10%;
}

h3 {
  margin-bottom: 20px;
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 60px;
  text-align: center;
  border-radius: 12px;
  box-shadow: none;
}

footer {
  text-align: center;
  padding: 40px;
  font-size: 14px;
  color: #777;
}
#contact a {
  display: block;       
  margin-bottom: 10px;  
  color: #555;          
  text-decoration: none; 
  transition: color 0.3s ease;
      display: flex;              
  align-items: center; 
  margin-bottom: 10px;
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
  gap: 15px;    
  display: flex;
  align-items: center;
  gap: 8px;  
}

#contact a:hover {
  color: #000;
}

#contact i {
  font-size: 18px;           
   
}

#contact a:hover {
  color: #000;          
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 колонки */
  gap: 20px;
  max-width: 400px;
}
/* Mobile */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 20px;
  }

  .hero h2 {
    font-size: 32px;
  }

  nav a {
    font-size: 18px;
  }
}